.popup__layout { 
    position: fixed; 
    width: 100%; 
    height: 100vh; 
    background: #000; 
    /* opacity: 0.5; */
    opacity: 0;
}
.popup {
    position: fixed; 
    left: 50%; 
    top: 50%; 
    transform: translate3d(-50%, -50%, 0); 
    width: 60vw; min-height: calc(60vw / 1.6); 
    background: #cddafe;
    padding: 1vw;
    color: #5a4340;
    opacity: 0;
}
.popup__close {
    text-align: right;
    z-index: 21;
}
.popup__header {
    display: inline-block;
    margin-left: 3vw;
    margin-top: 1vw;
    font-size: 3.5vw;
    color: #f4edf0;
    font-weight: bold;
    background: #545fab;
    padding: 0 .5em;
}
.popup__title {
    margin-left: 3vw;
    margin-top: 2vw;
    font-size: 3vw;
    color: #1a1c6d;
}
.popup__body {
    margin-left: 3vw;
    width: 45vw;
    margin-top: 2vw;
    font-size: 2vw;
    position: relative;
    color: #1a1c6d;
}
.popup__footer {
    margin-top: 5vw;
    margin-left: 3vw;
    text-align: center;
}
.popup__footer a {
    display: inline-block;
    padding: 1vw 0;
    border-radius: 50px;
    width: 15vw;
    text-align: center;
    /* border: 1px solid #000; */
    margin-right: 1vw;
    color: #f4f4f2;
    background: #535fab;
}
.popup__img {
    position: absolute;
    right: -17vw; top: 50%; transform: translateY(-50%);
    background-image: url(../img/computer.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 35vw;
    height: 40vw;
    z-index: 20;
}

@media (min-width: 1200px) {
    .popup {padding: 1rem; width: 700px; min-height: calc(700px / 1.6);}
    .popup__header { margin: 15px 35px 5px; font-size: 2.5rem;}
    .popup__title { margin-left: 35px; font-size: 2.3rem;}
    .popup__body {margin-left: 35px; margin-top: 15px; margin-bottom: 15px; font-size: 1.5rem; width: 550px;}
    .popup__footer { margin-bottom: 30px;}
    .popup__footer a {padding: 1rem 0; width: 13em;}
    .popup__img {left: 67%;}
}