/* 효과 */
/* sec1 */
.sec1__text {}
.sec1__text h1 {
    position: absolute;
    left: 50%; top: 60%; 
    transform: translate3d(-50%, -50%, 0) scaleY(2.5) skewX(20deg);
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 1;
    z-index: 15;
    font-size: 10vw;
    animation: scak 2s infinite;
    white-space: nowrap;
    font-weight: bold;
    border: 0;
}
/* 배경 */
/* sec1 - 하트배경 */
#section1 {
  width: 100%;
  height: 100vh;
  background:
  radial-gradient(circle closest-side at 60% 43%, #851b36 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 43%, #851b36 26%, rgba(187,0,51,0) 27%),
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),
  
  radial-gradient(circle closest-side at 60% 43%, #851b36 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 43%, #851b36 26%, rgba(187,0,51,0) 27%) 50px 50px,
  radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
  radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
background-color:#851b36;
background-size:100px 100px;
}


.sec1__bg {}
/* sec1 - 거울 */
.sec1__bg .mirror {}
.sec1__bg .mirror img {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 80vh;
  border-radius: 40%;
  z-index: 10;
}
/* sec1 - 라인 */
.sec1__bg .lines {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.sec1__bg .lines span {
    width: 1px;
    height: 100vh;
    margin-left: 20%;
    background: #684343;
}
/* sec1 - 프레임 */
.frame {
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all 0.4s;
}
.frame iframe {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0; top: 0;
    z-index: 11;
}
/* sec1 - title */

.sec1__text {
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase;
  transition: all 0.4s;
}
.sec1__text:hover + .frame {
  opacity: 1;
  transition: all 0.4s;
}
.sec1__text > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-weight: 900;
  font-size: clamp(3em, 18vw, 15rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
.sec1__text .bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
  position: absolute;
  left: 50%; top: 60%;
  transform: translate3d(-50%, -50%, 0) skewX(-15deg);
  z-index: 15;
}
.sec1__text .fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #fff;
  transform: scale(1);
  position: absolute;
  left: 49%; top: 60%;
  transform: translate3d(-50%, -50%, 0) skewX(-15deg);
  z-index: 15;
}
/* sec2 */
/* 배경 */
.main__bg {
  position: relative;
  width: 100%;
  background:
      radial-gradient(#ECECEC 25%, transparent 16%) 0 0,
      radial-gradient(#ECECEC 25%, transparent 16%) 8px 8px,
      radial-gradient(#F0F0F0 15%, transparent 50%) 0 1px,
      radial-gradient(#F0F0F0 15%, transparent 50%) 8px 9px;
  background-color:#EAEAEA;
  background-size:16px 16px;
}
.main__bg2 {
  position: relative;
  width: 100%;
  height: 300vh;
  background:
      radial-gradient(#414141 25%, transparent 16%) 0 0,
      radial-gradient(#414141 25%, transparent 16%) 8px 8px,
      radial-gradient(#4b4242 15%, transparent 50%) 0 1px,
      radial-gradient(#4b4242 15%, transparent 50%) 8px 9px;
  background-color:#020202;
  background-size:16px 16px;
}

#section2 {
  width: 100%;
  text-align: center;
  display: inline-block;
  overflow: hidden;
}
.sec2__text1 {
  font-family: 'Exo 2';
  margin-top: 10vw;
  color: #d37e5d;
  font-size: 5vw;
  transform: scaleX(0.7) translateX(-15vw) translateY(0.8vw);
  text-transform: uppercase;
  font-weight: 300;
}
.sec2__text2 {
  color: #3c71c7;
  font-size: 5.5vw;
  font-family: 'Exo 2';
  font-weight: 700;
  transform: scaleY(1.5) scaleX(1.5);
  letter-spacing:.1vw;
  text-transform: uppercase;
}
.sec2__text3 {
  color: #0e0e0e;
  font-size: 11vw;
  margin-top: 4vw;
  text-transform: uppercase;
  transform: scaleY(2);
  font-family: 'Exo 2';
  font-weight: 900;
  font-style: none;
  line-height: 1;
  margin-bottom: 10vw;
}
.sec2__text4 {
  color: #d37e5d;
  font-size: 3vw;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  white-space: nowrap;
  
}
.sec2__text4 .line {
  width: 70vw;
  height: 0.1vw;
  background: #000;
  margin-right: 2vw;
}
.sec2__text4 b {
  color: #fff;
  background: #eeb63e;
  font-size: 4vw;
  padding: .5vw 1vw;
  margin-right: 1vw;
}
@media (min-width:1200px) {
  .sec2__text1 {font-size: 4.2rem;}
  .sec2__text2 {font-size: 4.7rem;}
  .sec2__text3 {font-size: 9.65rem; margin-top: 0.3em;margin-bottom: 0.8em;}
  .sec2__text4 {font-size: 2.5rem; width: 1000px; margin: 0 auto;}
  .sec2__text4 .line {width: 700px; margin-right: 1em;}
  .sec2__text4 b {font-size: 3rem; padding: .1em .5em; margin-right: .3em;}
}

/* sec3 */


/* sec4 */
#section4 {
  width: 80%;
  margin: 0 auto;
}
.sec4__wise {
  margin-top: 30vw;
  text-align: right;
  font-size: 3.6vw;
}
.sec4__info {
  margin-top: 10vw;
  text-align: left;
  font-size: 2.8vw;
}
.sec4__desc {
  margin-top: 10vw;
  display: flex;
  justify-content: space-evenly;
}
.sec4__desc a {
  font-size: 2.5vw;
}
.sec4__skills {
  margin-top: 10vw;
}
.sec4__skills .inner {
  width: 100%;
  margin: 0 auto;
  background: #ECCE82;
  border-radius: 50px;
  white-space: nowrap;
  overflow: hidden;
}
.sec4__skills .inner span {
  color: #020202;
  font-size: 2.7vw;
  padding: 0.3vw;
  text-transform: uppercase;
  display: inline-block;
  animation: skills 15s linear infinite;
  padding: 0.5rem 0;
}
@keyframes skills {
  0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
}
.sec5__title {
  width: 80%;
  margin: 0 auto;
  margin-top: 10vw;
  margin-bottom: 10vw;
  font-size: 5.5vw;
  font-weight: bold;
  font-family: 'vitrocore';
}

@media (min-width:1200px) {
  #section4 {
    width: 80%;
    max-width: 1000px;
    /* border: 1px solid red; */
  }
  .sec4__wise {margin-top: 5em; font-size: 3rem;}
  .sec4__info {margin-top: 2em; font-size: 2rem;}
  .sec4__desc a {font-size: 2rem;}
  .sec4__skills .inner span {font-size: 2.4rem; padding: 0.5rem 0;}
  .sec5__title {margin-top: 3em; font-size: 5rem; margin-bottom: 3em;}
}

/* section5 */
#section5 {
  width: 100%;
  height: 1000vh;

}
.project {
  width: 100%;
  height: 100vh;
  display: inline-block;
}
.project__more {
  display: block;
  width: 65vw;
  margin: 0 auto;
  text-align: right;
  margin-top: 5rem;
  font-size: 1.5vw;
}
.project__img {
  width: 65vw;
  height: calc(65vw * 0.5);
  filter: grayscale(100%);
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease;
}
.project__img:hover {
  filter: grayscale(0%);
}
.project__title {
  position: absolute;
  left: -1vw;top: -2vw;
  color: #fff;
  font-size: 4vw;
  padding: 0.2vw 2vw;
  text-transform: uppercase;
  filter: grayscale(0%);
}
.project__desc {
  margin: 0 auto;
  margin-top: 1vw;
  width: 65vw;
  display: flex;
  justify-content: space-between;
}
.desc__title {
  white-space: nowrap;
  font-size: 2.5vw;

}
.project__desc .right {}
.project__desc .right .desc__desc {
  text-align: right;
  white-space: nowrap;
  font-size: 1.6vw;
}
.project__desc .right .desc__more {
  text-align: right;
  font-size: 1.5vw;
  margin-top: 1vw;
}
.project__desc .right .desc__more:hover {
  text-decoration: underline;
}

.project__title.title1 {
  background-color: rebeccapurple;
}
.project__title.title2 {
  background-color: #339999;
}
.project__title.title3 {
  background-color: #87c0e4;
}
.project__title.title4 {
  background-color: #cf89aa;
}
.project__title.title5 {
  background-color: #4d57a7;
}
.project__title.title6 {
  background-color: #da8e16;
}
.project__title.title7 {
  background-color: #355a10;
}
.project__title.title8 {
  background-color: #006da1;
}
.project__title.title9 {
  background-color: #9c3d2e;
}
.project .img1 {
  background: url(../img/project1.jpg);
  background-size: cover;
}
.project .img2 {
  background: url(../img/project2.jpg);
  background-size: cover;
}
.project .img3 {
  background: url(../img/search.jpg);
  background-size: cover;
}
.project .img4 {
  background: url(../img/slider.jpg);
  background-size: cover;
}
.project .img5 {
  background: url(../img/mouse.jpg);
  background-size: cover;
}
.project .img6 {
  background: url(../img/quiz.jpg);
  background-size: cover;
}
.project .img7 {
  background: url(../img/parall.jpg);
  background-size: cover;
}
.project .img8 {
  background: url(../img/php.jpg);
  background-size: cover;
}
.project .img9 {
  background: url(../img/web.jpg);
  background-size: cover;
}

/* pacman / 팩맨 */

.pacman__wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  
  /* background: #000; */
}
.pacman{
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  background: #f3c04b;
  position: relative;
  border: 0;
  z-index: 6;
}
.pacman, .ghost1, .ghost2, .ghost3, .ghost4 {
  animation: pacman 10s linear infinite;
}
@keyframes pacman {
  0% {transform: translateX(-600%);}
  100% {transform: translateX(+1100%);}
}
.food:nth-child(1) {
  animation: foody1 10s linear infinite;
}
@keyframes foody1 {
  0% {opacity: 1;}
  1% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(2) {
  animation: foody2 10s linear infinite;
}
@keyframes foody2 {
  0% {opacity: 1;}
  7% {opacity: 1;}
  8% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(3) {
  animation: foody3 10s linear infinite;
}
@keyframes foody3 {
  0% {opacity: 1;}
  15% {opacity: 1;}
  16% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(4) {
  animation: foody4 10s linear infinite;
}
@keyframes foody4 {
  0% {opacity: 1;}
  23% {opacity: 1;}
  24% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(4) {
  animation: foody4 10s linear infinite;
}
@keyframes foody4 {
  0% {opacity: 1;}
  27% {opacity: 1;}
  28% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(5) {
  animation: foody5 10s linear infinite;
}
@keyframes foody5 {
  0% {opacity: 1;}
  35% {opacity: 1;}
  36% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(6) {
  animation: foody6 10s linear infinite;
}
@keyframes foody6 {
  0% {opacity: 1;}
  44% {opacity: 1;}
  45% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(7) {
  animation: foody7 10s linear infinite;
}
@keyframes foody7 {
  0% {opacity: 1;}
  52% {opacity: 1;}
  53% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.food:nth-child(8) {
  animation: foody8 10s linear infinite;
}
@keyframes foody8 {
  0% {opacity: 1;}
  59% {opacity: 1;}
  60% {opacity: 0;}
  99% {opacity: 0;}
  100% {opacity: 1;}
}
.pacman .mouth {
  top: 50%; left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #000;
  position: absolute;
  width: 10vw;
  height: 10vw;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation-name: eat;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  z-index: 8;
}
@keyframes eat {
  0% {clip-path: polygon(100% 74%, 44% 48%, 100% 21%);}
  12.5% {clip-path: polygon(100% 60%, 44% 48%, 100% 40%);}
  25% {clip-path: polygon(100% 50%, 44% 48%, 100% 50%);}
  37.5% {clip-path: polygon(100% 59%, 44% 48%, 100% 35%);}
  50% {clip-path: polygon(100% 74%, 44% 48%, 100% 21%);}
  51% {clip-path: polygon(100% 74%, 44% 48%, 100% 21%);}
  100% {clip-path: polygon(100% 74%, 44% 48%, 100% 21%);}
}
.foods {
  position: absolute;
  left: 0;top: 50%;
  transform: translateY(-50%);
  display: flex;
  z-index: 7;
}
.food {
  width: 3vw; height: 3vw;
  border-radius: 50%;
  margin-right: 10vw;
  background: #f7b97e;
  z-index: 8;
}
.food:last-child {
  margin-right: 0;
}
.ghost{
  display: inline-block;
  width: 9vw;
  height: 7.5vw;
  border-radius:50% 50% 0 0;
  position: relative;
  z-index: 10;
  margin-right: 3vw;
}
.ghost .eye_left {
  position: absolute;
  top: 40%;left: 50%;
  transform: translate3d(-20%, -50%, 0);
  background: #fff;
  width: 2vw;
  height: 3vw;
  border-radius: 50%;
}
.ghost .eye_right {
  position: absolute;
  top: 40%;left: 80%;
  transform: translate3d(-40%, -50%, 0);
  background: #fff;
  width: 2vw;
  height: 3vw;
  border-radius: 50%;
  
}
.ghost .eye_left_color {
  position: absolute;
  top: 40%;left: 61%;
  transform: translate3d(-40%, -50%, 0);
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #44609e;
}
.ghost .eye_right_color {
  position: absolute;
  top: 40%;left: 86%;
  transform: translate3d(-40%, -50%, 0);
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: #44609e;
}
.ghost .tail1 {
  position: absolute;
  left: 0; bottom: -1vw;
  width: calc(9vw / 4);
  height: calc(9vw / 4);
  border-radius: 50%;
  background-color: #333;
}
.ghost .tail2 {
  position: absolute;
  left: calc(9vw / 4); bottom: -1vw;
  width: calc(9vw / 4);
  height: calc(9vw / 4);
  border-radius: 50%;
  background-color: #333;
}
.ghost .tail3 {
  position: absolute;
  left: calc(9vw / 4 * 2); bottom: -1vw;
  width: calc(9vw / 4);
  height: calc(9vw / 4);
  border-radius: 50%;
  background-color: #333;
}
.ghost .tail4 {
  position: absolute;
  left: calc(9vw / 4 * 3);; bottom: -1vw;
  width: calc(9vw / 4);
  height: calc(9vw / 4);
  border-radius: 50%;
  background-color: #333;
}
.ghost1, .ghost1 .tail1, .ghost1 .tail2, .ghost1 .tail3, .ghost1 .tail4 {
  background-color: #ce293d;
}
.ghost2, .ghost2 .tail1, .ghost2 .tail2, .ghost2 .tail3, .ghost2 .tail4 {
  background-color: #e5a8cf;
}
.ghost3, .ghost3 .tail1, .ghost3 .tail2, .ghost3 .tail3, .ghost3 .tail4 {
  background-color: #62d6c2;
}
.ghost4, .ghost4 .tail1, .ghost4 .tail2, .ghost4 .tail3, .ghost4 .tail4 {
  background-color: #e5893d;
}
/* section6 */
#section6 {
  width: 100%;
  height: 100vh;
}
.sec6__headerWrap {
  overflow: hidden;
}
  .sec6__header {
    border: 1px solid red;
    display: flex;
    display: inline-block;
    white-space: nowrap;
    transform: translateX(-6.25vw);
}
.game {
    display: inline-block;
    white-space: nowrap;
    width: 25vw;
    height: 25vw;
    background: #000;
    margin-right: 3vw;
}
.game:nth-child(1) {
  background: url(../img/music.jpg);
  background-size: cover;
  background-position: center center;
}
.game:nth-child(2) {
  background: url(../img/card.jpg);
  background-size: cover;
  background-position: center center;
}
.game:nth-child(3) {
  background: url(../img/tetris.jpg);
  background-size: cover;
  background-position: center center;
}
.game:nth-child(4) {
    margin-right: 0;
    background: url(../img/typing.jpg);
    background-size: cover;
    background-position: center center;
}
.sec6__body .title {
    display: flex;
}
.sec6__body p {
    margin-top: 5vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 6vw;
    letter-spacing: 1vw;
    color: #fff;
}
.sec6__body p svg {
    background-image: url(../img/game.svg);
    width: 6vw;
    height: 6vw;
    background-size: cover;
    transform: translateY(1vw);
}
.sec6__body .iframe {
    width: 70vw;
    height: 50vw;
    background: #000;
    margin-top: 10vw;
    margin-left: 15vw;
}
.sec6__body .iframe iframe {
  width: 100%;
  height: 100%;
}

#section7 {
  background: #efefef;
  width: 100%;
  height: 110vh;
  margin-top: 120vh;
}
.sec7__header {
  width: 100%;
  height: 5vw;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec7__header p {
  font-size: 5vw;
  white-space: nowrap;
  color: #fff;
  text-align: center;
  align-items: center;
}
.sec7__body {
  display: flex;
  justify-content: space-evenly;
}
.sec7__body .left {
  width: 40%;
  margin-top: 7.5vw;
}
.sec7__body .left img{
  width: 80%;
  margin: 0 auto;
}
.sec7__body .right {
  width: 40%;
  margin-top: 15vw;
  font-size: 2.8vw;
}
.sec7__body .right p {
  margin-bottom: 1vw;
  font-weight: lighter;
  padding-left: 4vw;
}
.sec7__body .right .call,.sec7__body .right .email,.sec7__body .right .git,.sec7__body .right .tistory {
  position: relative;
}
.sec7__body .right .call:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  background: url(../img/phone-call.svg);
  background-size: cover;
  width: 3vw;
  height: 3vw;
}
.sec7__body .right .email:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  background: url(../img/email-down.svg);
  background-size: cover;
  width: 3vw;
  height: 3vw;
}
.sec7__body .right .git:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  background: url(../img/github.svg);
  background-size: cover;
  width: 3vw;
  height: 3vw;
}
.sec7__body .right .tistory:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  background: url(../img/book-one.svg);
  background-size: cover;
  width: 3vw;
  height: 3vw;
}
.sec7__body .right .title {
  display: inline-block;
  font-size: 2.5vw;
  padding-left: 0;
  margin-bottom: 3vw;
}
.sec7__footer {
  position: relative;
}
.sec7__footer p {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 2vw;
  text-align: right;
  border-radius: 50px;
  padding: 0.2em .5em;
  color: #000;
  border: 1px solid #000;
  display: inline-block;
}

/* load 로드 */

.loader {
  position: absolute;
  z-index: 100;
  top: 0;left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}
.loader__active {
width: 100%;
transition-delay: 0s;
}
.loader .loader__tile {
  width: 0;
  height: 20vh;
  transition: width 1s ease;
  background-color: #de3356;
}
.loader__active .loader__tile {
  width: 100%;
  height: 20vh;
  transition: width 0.7s ease;
}
.loader .loader__tile:nth-child(1) { transition-delay: 0s; }
.loader .loader__tile:nth-child(2) { transition-delay: 0.2s; }
.loader .loader__tile:nth-child(3) { transition-delay: 0.4s; }
.loader .loader__tile:nth-child(4) { transition-delay: 0.6s; }
.loader .loader__tile:nth-child(5) { transition-delay: 0.8s; }
.loader__active .loader__tile:nth-child(1) { transition-delay: 0.0s; }
.loader__active .loader__tile:nth-child(2) { transition-delay: 0.2s; }
.loader__active .loader__tile:nth-child(3) { transition-delay: 0.4s; }
.loader__active .loader__tile:nth-child(4) { transition-delay: 0.6s; }
.loader__active .loader__tile:nth-child(5) { transition-delay: 0.8s; }

/* reset */
* {
    margin: 0; 
    padding: 0;
    font-family: 'abel','VitroPride';
}
html {
  font-size: 14px;
}
:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}
a {
  color: #000;
  text-decoration: none;
}

em {
  font-style: none;
}

.scrollTop {
  position: fixed;
  left: 0; top: 0;
  z-index: 100;
  background: #000;
  color: #fff;
  font-size: 5rem;
}