/* header */
/* sec1 */
.sec1_bg {
  background: url(../img/mountain.jpg);
  background-position: center center;
  background-size: cover;
  animation: hue-rotate 3s linear infinite;
  background-blend-mode: hard-light;
  width: 100%;
  height: 100vh;
  z-index: 0;
}


@keyframes hue-rotate {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.sec1_text{
  position: relative;
  color: #fff;
  font-size: 5rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  font-weight: bold;
}
.sec1_text .text1 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.sec1_text .text2 {
  opacity: 0;
}
.sec1_text .text3 {
  opacity: 0;
}
.sec1_text .text4 {
  opacity: 0;
}

/* 별자리 */
.sec1_dot .star {
  position: fixed;
  background: #fff;
  width: .2vw; height: .2vw;
  border-radius: 50%;
  opacity: 0;
}
.sec1_dot .star1 {left: 92.5%; top: 5.5%;}
.sec1_dot .star2 {left: 95.5%; top: 10.5%;}
.sec1_dot .star3 {left: 90.5%; top: 15.5%;}
.sec1_dot .star4 {left: 87.5%; top: 7.5%;}
.sec1_dot .star5 {left: 81.5%; top: 9.5%;}
.sec1_dot .star6 {left: 71.5%; top: 10.5%;}
.sec1_dot .star7 {left: 71.5%; top: 20.5%;}

/* sec2_intro */
.sec2_intro .dot1,
.sec2_menu .dot1 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  z-index: 5;
}
.sec2_intro .dot2 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  z-index: 4;
}
.sec2_intro .dot3 {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  z-index: 3;
}
.sec2_intro p,
.sec2_menu p {
  font-size: 4vw;
  color: #fff;
  font-weight: bold;
  word-break: keep-all;
}
.sec2_intro .bg {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  background-color: #000;
  z-index: 1;
}

/* section2 */
.sec2_bg {
  width: 100%; height: 100vh;
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  z-index: 1;
}

.sec2_1 img,
.sec2_2 img,
.sec2_3 img {
  width: 55vw;
  /* height: 100vh; */
  z-index: 1;
}

.sec2_1 p {
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}

.sec2_2__title {
  color: rgb(58, 50, 50);
  font-size: 5rem;
  font-weight: bold;
  margin-left: .5em;
}
.sec2_2__desc {
  color: #6E6E73;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 2em;
}
.sec2_3__title {
  color: rgb(58, 50, 50);
  font-size: 5rem;
  font-weight: bold;
  text-align: right;
  
}
.sec2_3__desc {
  color: #6E6E73;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 2em;
  text-align: right;
}


@media (max-width: 1435px) {
  .sec1_text {
      font-size: 4.7vw;
  }
}