* {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

.mail__header {}
.mail__header p {
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
}

.mail__who {}

.ir_pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
  }
  