body {
    background: #f1f1f1;
}
#section1 {
    width: 100%;
    height: 100vh;
}

#section2 {
    width: 100%;
    height: 90vw;
    /* height: 100vh; */
    background: #f1f1f1;
    display: inline-block;
    z-index: 100;
}
.sec2__text1 {
    font-family: 'Kumar One';
    color: #2D6EC7;
    margin-top: 15vw;
    font-size: 10.5vw;
    text-align: center;
    position: relative;
    margin-left: 18vw;
}
.sec2__text1 span {
    font-family: 'Abel';
    font-weight: lighter;
    color: #E76D41;
    position: absolute;
    font-size: 3vw;
    left: 30.5vw;
    top: 1.5vw;
    transform: scaleY(1.2);
}
.sec2__text1 .small__heart {
    position: absolute;
    left: 11.4vw; top: -3.4vw;
}
.sec2__text1 .big__heart {display: none;}
.sec2__text2 {
    font-family: 'Porter Sans Block';
    color: #000;
    font-size: 10.5vw;
    text-align: center;
    transform: scaleY(1.2);
    margin-bottom: 7vw;
    position: relative;
}
.circle__o {
    font-family: 'Porter Sans Block';
    opacity: 0;
}
.sec2__text3 {
    display: flex;
    justify-content: space-between;
}
.sec2__text3 .line {
    width: 38vw;
    height: 0.1vw;
    background-color: #E76D41;
}
.sec2__text3 p {
    color: #fff;
    background-color: #F2B63F;
    font-size: 5.3vw;
    padding: 1vw 3vw;
    white-space: nowrap;
    font-family: 'Poiret One';
    text-transform: uppercase;
}
.sec2__circle {position: absolute; border-radius: 50%; background-size: cover;}
.sec2__circle1 {left: 12.1vw; top: -0.8vw; width: 11.5vw; height: 11.5vw; background-image: url(../img/complete/face3.jpg);}
.sec2__circle2 {left: 56.2vw; top: -0.4vw; width: 12vw; height: 12vw; background-image: url(../img/complete/face4.jpg);}
.sec2__circle3 {left: 83.8vw; top: -0.4vw; width: 12vw; height: 12vw; background-image: url(../img/complete/face1.jpg);}

@media (min-width: 1200px) {
    #section2 {width: 1200px; height:900px; margin: 0 auto; display: block;}
    .sec2__text1 {margin-top: 1.1em; font-size: 9rem; margin-left: 1.7em;}
    .sec2__text1:before {left: 12vw; top: -3vw; width: 85px; height: 80px;}
    .sec2__text1 span {font-size: 2.4rem; left: 11.3em; top: 0.5em;}
    .sec2__text2 {font-size: 9.1rem; margin-bottom: 0.9em;}
    .sec2__text3 p {font-size: 4.4rem; padding: 0.2em 0.7em; position: relative;}
    /* .sec2__text3 p:after {
        content: '';
        position: absolute;
        background-color: #F2B63F;
        right: -13vw; top: 0;
        height: 1.57em;
        width: 13vw;
    } */
    .sec2__text3 p:before {
        content: '';
        position: absolute;
        background-color: #E76D41;
        height: 1px; width: 50vw;
        right: 115%; top: 0;
    }
    .sec2__text3 .line {opacity: 0;}
    .sec2__circle1 {left: 1.19em; top: -0.06em; width: 1.12em; height: 1.12em;}
    .sec2__circle2 {left: 5.35em; top: -0.06em; width: 1.15em; height: 1.15em;}
    .sec2__circle3 {left: 8em; top: -0.06em; width: 1.15em; height: 1.15em;}
    .sec2__text1 .small__heart {display: none;}
    .sec2__text1 .big__heart {display: block; position: absolute; left: 1.2em; top: -.25em;}
}
/* // #section2 */

#section3, #section5 {
    width: 100%;
    height: 25vw;
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
}
.sec3__svg, .sec5__svg {
    position: absolute;
    left: 0; top: -75%;
    width: 99vw;
    height: 37vw;
    background-image: url(../img/svg/bird.svg);
    background-size: cover;
    background-position: center center;
}

#section4 {
    width: 100%;
    height: 100vw;
    background: #f1f1f1;
    display: inline-block;
    z-index: 100;
}
.sec4__info {
    margin: 0 auto;
    margin-top: 10vw;
    font-size: 2.8vw;
    line-height: 1.3;
    font-weight: lighter;
    padding-left: 44vw;
    letter-spacing: -0.2vw;
    display: inline-block;
}
.sec4__info .white {
    color: #fff;
    background: #000;
}
.sec4__desc {
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: space-evenly;
}
.sec4__desc a {
  font-size: 2.5vw;
  font-weight: lighter;
  letter-spacing: -0.2vw;
  cursor: default;
  opacity: 0;
}
.sec4__footer {
    width: 68%;
    margin: 0 auto;
}

.sec4__footer p {
    font-family: 'Raleway Dots';
    text-transform: uppercase;
    font-size: 5.3vw;
    white-space: nowrap;
    text-align: center;
    background: #946BC6;
    color: #fff;
    border-radius: 100px;
}

@media (min-width:1200px) {
    #section4 {/* border: 1px solid red; */ width: 1200px; height: 1200px; margin: 0 auto; display: block;}
    .sec4__info {margin-top: 5em; font-size: 2.2rem; padding-left: 17.5em; letter-spacing: -0.01em;}
    .sec4__desc {margin-top: 2em; margin-bottom: 2em;}
    .sec4__desc a {font-size: 2.2rem; letter-spacing: -0.1em;}
    .sec4__footer {width: 820px;}
    .sec4__footer p {font-size: 4.6rem;}
}
/* //section4 */

#section6 {
    width: 100%;
    background-color: #f1f1f1;
    display: inline-block;
}

.sec6__title {
    width: 99%;
    margin: 0 auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    /* border: 1px solid red; */
    position: relative;
}
.sec6__title p:nth-child(1) {
    font-family: 'Kumar One';
    font-size: 4.8vw;
    color: #fff;
    display: inline-block;
    transform: scaleY(1.1);
    margin-left: 21vw;
    position: relative;
}
.sec6__p1:before {
    content: '';
    position: absolute;
    left: -4vw; top: -0.3vw;
    width: 23vw; height: 7.5vw;
    background: #2D6EC7;
    z-index: -1;
    border-radius: 100px;
    
}
.sec6__title p:nth-child(2) {
    font-family: 'Abel';
    font-size: 3vw;
    text-transform: uppercase;
    color: #E76D41;
    position: absolute;
    left: 40.2vw;
    top: -5vw;
}
.sec6__title p:nth-child(3) {
    font-family: 'Porter Sans Block';
    font-size: 9.5vw;
    margin-top: 4vw;
    transform: scaleX(1.1) scaleY(1.2);
    margin-left: 36vw;
    display: inline-block;
    position: relative;
}
.sec6__title .small__heart {display: block; position: absolute; left: 46.5vw; top: 3vw;}
.sec6__title .big__heart {display: none;}
.sec6__circle {
    position: absolute; 
    border-radius: 50%;
     background-size: cover;
    left: 44.5vw; 
    top: 11vw; 
    width: 12vw; 
    height: 11vw; 
    background-color: tomato;
}
.sec6__project {
    width: 95vw;
    height: 90vw;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.sec6__img {
    background-color: lightgrey;
    width: 95vw;
    height: calc(95vw / 1.6);
    margin: 0 auto;
    margin-top: 10vw;
    position: relative;
    filter: grayscale(75%);
    transition: filter 0.4s ease;
}
.sec6__img:hover {
    filter: grayscale(0);
}
.sec6__img1 {background-image: url(../img/complete/site/project1.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img2 {background-image: url(../img/complete/site/project2.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img3 {background-image: url(../img/complete/site/php.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img4 {background-image: url(../img/complete/site/web.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img5 {background-image: url(../img/complete/site/search.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img6 {background-image: url(../img/complete/site/slider.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img7 {background-image: url(../img/complete/site/mouse.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img8 {background-image: url(../img/complete/site/quiz.jpg); background-repeat: no-repeat; background-size: cover;}
.sec6__img9 {background-image: url(../img/complete/site/parall.jpg); background-repeat: no-repeat; background-size: cover;}

.sec6__img .title {
    font-family: 'Rajdhani';
    font-size: 5vw;
    color: #fff;
    background: #000;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.1em 0.5em;
    position: absolute;
    left: 15vw; top: -5vw;
}
.sec6__img .title1 {background: rebeccapurple;}
.sec6__img .title2 {background: #349a99;}
.sec6__img .title3 {background: #006da0;}
.sec6__img .title4 {background: #9c3e2e;}
.sec6__img .title5 {background: #87bfe3;}
.sec6__img .title6 {background: #d089aa;}
.sec6__img .title7 {background: #4c57a5;}
.sec6__img .title8 {background: #db8e18;}
.sec6__img .title9 {background: #345a0f;}
.sec6__img .site {
    position: absolute; 
    right: 4vw; bottom: 4.5vw;
    font-size: 3.5vw;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
    font-family: 'Abel';
}
.sec6__img .site__circle {
    position: absolute;
    right: 1vw; bottom: 1vw;
    font-size: 5vw;
    border-radius: 50%;
    width: 12vw; height: 12vw;
    background: #000;
    z-index: 0;
}
.sec6__desc {
    display: flex;
    margin: 0 auto;
    margin-top: 1.5vw;
    justify-content: space-between;
    line-height: 2vw;
    /* border: 1px solid yellow; */
}
.sec6__desc .title {
    font-family: 'GmarketSans';
    position: relative;
    font-weight: bold;
    font-size: 2vw;
    margin-left: 13vw;
    margin-right: 9vw;
    padding-left: 2.5vw;
    white-space: nowrap;
}
.sec6__desc .title:before {
    position: absolute;
    left: 0; top: 0.3vw;
    content: '';
    width: 2vw; height: 2vw;
    border-radius: 50%;
    background: #000;
}
.sec6__desc .desc {
    font-family: 'GmarketSans';
    font-weight: lighter;
    font-size: 1.3vw;
    margin-right: 15vw;
}
.sec6__footer {
    width: 67%;
    margin: 0 auto;
    margin-top: 20vw;
}

@media (min-width:1200px) {
    #section6 {width: 1200px; margin: 0 auto; display: block;}
    .sec6__title {margin-top: 8em; margin-bottom: 8em;}
    .sec6__title p:nth-child(1) {font-size: 4.3rem; margin-left: 4.5em;}
    .sec6__p1:before {left: -0.9em; top: 0em; width: 4.9em; height: 1.5em;}
    .sec6__title p:nth-child(2) {font-size: 2.5rem; left: 14.1em; top: -1.3em;}
    .sec6__title p:nth-child(3) {font-size: 8.5rem; margin-top: 0.3em; margin-left: 3.6em;}
    .sec6__circle {left: 38.2em; top: 8.5em;  width: 10em; height: 10em;}
    .sec6__title .small__heart {display: none;}
    .sec6__title .big__heart {display: block; position: absolute; left: 40em; top: 3em;}

    .sec6__project {width: 98%; height: 1000px;}
    .sec6__img {width: 100%; height: calc(1000px / 1.6); margin-top: 3em;}
    .sec6__img .title {font-size: 4.5rem; padding: 0.1em 0.5em; left: 2.7em; top: -0.6em;}
    .sec6__img .site {right: 78px; bottom: 85px; font-size: 3rem;}
    .sec6__img .site__circle {right: 20px; bottom: 20px; width: 190px; height: 190px;}

    .sec6__desc {margin-top: 1.5em; line-height: 190%;}
    .sec6__desc .title {font-size: 1.8rem; margin-left: 7em; margin-right: 0em; padding-left: 1.7em;}
    .sec6__desc .title:before {left: 0em; top: 0em; width: 1em; height: 1em;}
    .sec6__desc .desc {font-size: 1.1em; margin-right: 15em;}
}

#section7 {
    position: relative;
}

#section8 {width: 100%;}
.sec8__footer {
    font-family: 'Raleway Dots';
    text-transform: uppercase;
    font-size: 4.6rem;
    white-space: nowrap;
    text-align: center;
    background: #4C5DAA;
    color: #fff;
    border-radius: 100px;
    padding: 0.1em;
    margin: 0 auto;
    width: 800px;
}
@media (max-width: 1200px) {
    .sec8__footer {width: 67%;}
    .sec8__footer p {font-size: 5.4vw; padding: 0.1em;}
}


#section9 {
    width: 100%;
    display: inline-block;
    background: #f1f1f1;
    position: relative;
}
.sec9__wrap {
    width: 66vw;
    height: 45vw;
    margin: 0 auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    background-image: url(../img/sec9_back.png);
    background-size: cover;
    position: relative;
}
.sec9__wrap__inner {
    position: absolute;
    left: 50%; top: 50%;    
    transform: translate3d(-50%, -50%, 0);
    width: 62.5vw;
    height: 40vw;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 0vw;
}
.sec9__header {}
.sec9__header p {
    font-family: 'Lato';
    font-size: 3.5vw;
    font-weight: 700;
    letter-spacing: 1.5vw;
    padding: 0.4em 0;
    text-align: center;
    border-bottom: 1px solid #000;
}
.sec9__body {
    font-family: 'Barlow Condensed';
    display: flex;
    padding: 1vw;
    justify-content: space-between;
}
.sec9__body .left {
    width: 50%;
}
.sec9__body .left .body__title {
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #000;
}
.sec9__body .left .body__title p {
    line-height: 1.5;
    font-size: 2vw;
}
.sec9__body .left .body__desc {
    margin-left: 1vw;
    font-family: 'Gowun Dodum';
    color: #838383;
}
.sec9__body .left .body__desc p:nth-child(1) {
    margin-bottom: 0.5em;
    font-size: 1.9vw;
}
.sec9__body .left .body__desc p:nth-child(2) {
    font-size: 1.8vw;
    margin-left: 0.5em;
}
.sec9__body .left .body__desc p:nth-child(3),
.sec9__body .left .body__desc p:nth-child(4),
.sec9__body .left .body__desc p:nth-child(5) {
    font-size: 1.5vw;
    margin-left: 1em;
}
.sec9__body .right {}
.sec9__body .right .img {
    width: 23vw;
    height: calc(23vw / 1.6);
}
.sec9__body .right .img1 {
    background: #273e73;
    margin-bottom: 1vw;
}
.sec9__body .right .img2 {
    background: #f0d9ba;
}
.sec9__wrap__cover {
    width: 66vw;
    height: 45vw;
    margin: 0 auto;
    margin-top: 10vw;
    background-image: url(../img/sec9_front.png);
    background-size: cover;
    position: absolute;
    z-index: 100;
    top: 0;
    /* 열렸을 때 */
    left: -48%;
    /* 닫혔을 때 */
    /* left: 16%; */
}
@media (min-width: 1200px) {
    #section9 {width: 1200px; margin: 0 auto; display: block;}
    .sec9__wrap {width: 830px; height: 560px; margin-top: 138px; margin-bottom: 138px;}
    .sec9__wrap__inner {width: 790px; height: 500px;}
    .sec9__header {}
    .sec9__header p {font-size: 50px; letter-spacing: 20px;}
    .sec9__body {padding: 10px;}
    .sec9__body .left .body__title {margin-top: 15px; margin-bottom: 15px; margin-left: 20px;}
    .sec9__body .left .body__title p {font-size: 23px;}
    .sec9__body .left .body__desc {margin-left: 10px;}
    .sec9__body .left .body__desc p:nth-child(1) {font-size: 25px;}
    .sec9__body .left .body__desc p:nth-child(2) {font-size: 20px;}
    .sec9__body .left .body__desc p:nth-child(3),
    .sec9__body .left .body__desc p:nth-child(4),
    .sec9__body .left .body__desc p:nth-child(5) {font-size: 18px; margin-left: 20px;}
    .sec9__body .right .img {width: 280px; height: calc(280px / 1.6);}
    .sec9__body .right .img1 {margin-bottom: 15px;}
    .sec9__wrap__cover {width: 830px; height: 560px; margin-top: 138px;  top: -138px;
        /* 열렸을 때 */
        left: -610px;
        /* 닫혔을 때 */
        /* left: 175px; */
    }
}
/* //section9 */

#section10 {
    width: 100%;
    background: #f1f1f1;
    display: block;
}
.sec10__header {
    overflow: hidden;
    margin-top: 10vw;
    margin-bottom: 15vw;
}
.sec10__header .games {
    display: flex;
    width: 125vw;
}
.sec10__header .games .game {
    width: 30vw;
    height: calc(30vw / 1.6);
    background-color: #000;
    margin-right: 1vw;
}
.sec10__header .games .game1 {background-image: url(../img/complete/games/music.jpg); background-size: cover;}
.sec10__header .games .game2 {background-image: url(../img/complete/games/card.jpg); background-size: cover;}
.sec10__header .games .game3 {background-image: url(../img/complete/games/tetris.jpg); background-size: cover;}
.sec10__header .games .game4 {background-image: url(../img/complete/games/typing.jpg); background-size: cover;}

.sec10__header p {
    font-family: "Lato";
    text-align: center;
    font-size: 6.5vw;
    font-weight: 300;
    letter-spacing: 2vw;
    margin: 6vw 0;
    white-space: nowrap;
}
.sec10__header .gameCircle {
    position: relative;
    width: 14vw;
    height: 14vw;
    margin-left: calc(50vw - 14vw / 2);
    border-radius: 50%;
    text-align: center;
    display: block;
    border: 1px solid #000;
    transition: background-color 0.5s ease;
}
.sec10__header .gameCircle:hover {
    color: #fff;
    background-color: #000;
}
.sec10__header .gameCircle p {
    position: absolute;
    left: 50%; top: 10%;
    transform: translate3d(-50%, -50%, 0);
    text-transform: uppercase;
    font-size: 1.7vw;
    letter-spacing: normal;
    text-align: center;
    white-space: nowrap;
}
.sec10__body {
    background-color: #000;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: 100px;
}
.sec10__body .information {
    width: 75vw;
    height: calc(75vw / 1.6);
    background: lightgrey;
    margin: 0 auto;
    margin-top: 10vw;
}
.sec10__body iframe {
    display: none;
}
.sec10__body p {
    display: block;
    margin: 0 auto;
    margin-top: 8vw;
    text-align: center;
    font-family: "Gowun Dodum";
    text-align: center;
    color: #fff;
    font-size: 4vw;
    text-decoration: unset;
    cursor: pointer;
}
.sec10__body p:hover {
    text-decoration: underline;
}
@media (min-width:1200px) {
#section10 {text-align: center; display: inline-block;}
.sec10__header {margin-bottom: 100px;}
.sec10__header p { font-size: 74px; letter-spacing: 30px;  margin: 80px 0;}
.sec10__header .gameCircle {width: 180px; height: 180px; margin-left: calc(50% - 180px / 2);}
.sec10__header .gameCircle p {font-size: 24px; top: 5%;}
.sec10__body {width: 100%;}
.sec10__body .information {display: none;}
.sec10__body iframe {display: block; width: 900px; height: calc(900px / 1.6); background: lightgrey; margin: 0 auto; margin-top: 120px;}
.sec10__body p {margin-top: 100px; font-size: 50px;}
.sec10__header .gameCircle { display: none;}
}