#section1 {
    width: 100%;
    height: 100vh;
    background: yellowgreen;
}

#section2 {
    width: 100%;
    height: 90vw;
    /* height: 100vh; */
    background: #f1f1f1;
    display: inline-block;
    z-index: 100;
}
.sec2__text1 {
    font-family: 'Kumar One';
    color: #2D6EC7;
    margin-top: 15vw;
    font-size: 10.5vw;
    text-align: center;
    position: relative;
    margin-left: 18vw;
}
.sec2__text1:before {
    content: '';
    position: absolute;
    left: 12vw; top: -3vw;
    width: 7vw; height: 6.5vw;
    background-image: url(../img/heart.png);
    background-size: cover;
}
.sec2__text1 span {
    font-family: 'Abel';
    font-weight: lighter;
    color: #E76D41;
    position: absolute;
    font-size: 3vw;
    left: 30.5vw;
    top: 1.5vw;
    transform: scaleY(1.2);

}
.sec2__text2 {
    font-family: 'Porter Sans Block';
    color: #000;
    font-size: 10.5vw;
    text-align: center;
    transform: scaleY(1.2);
    margin-bottom: 7vw;
    position: relative;
}
.sec2__text3 {
    display: flex;
    justify-content: space-between;
}
.sec2__text3 .line {
    width: 38vw;
    height: 0.1vw;
    background-color: #E76D41;
}
.sec2__text3 p {
    color: #fff;
    background-color: #F2B63F;
    font-size: 5.3vw;
    padding: 1vw 3vw;
    white-space: nowrap;
    font-family: 'Poiret One';
    text-transform: uppercase;
}
.sec2__circle {position: absolute; border-radius: 50%;border: 1px solid red;}
.sec2__circle1 {left: 12.4vw; top: -0.4vw; width: 12vw; height: 10.1vw; background-color: yellow;}
.sec2__circle2 {}
.sec2__circle3 {}

#section3, #section5 {
    width: 100%;
    height: 25vw;
    background-color: #f1f1f1;
    position: relative;
    overflow: hidden;
}
.sec3__svg, .sec5__svg {
    position: absolute;
    left: 0; top: -75%;
    width: 99vw;
    height: 37vw;
    background-image: url(../img/svg/bird.svg);
    background-size: cover;
    background-position: center center;
}

#section4 {
    width: 100%;
    height: 100vw;
    background: #f1f1f1;
    display: inline-block;
    z-index: 100;
}
.sec4__info {
    margin: 0 auto;
    margin-top: 10vw;
    font-size: 2.8vw;
    line-height: 1.3;
    font-weight: lighter;
    padding-left: 44vw;
    letter-spacing: -0.2vw;
    display: inline-block;
}
.sec4__info .white {
    color: #fff;
    background: #000;
}
.sec4__desc {
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  justify-content: space-evenly;
}
.sec4__desc a {
  font-size: 2.5vw;
  font-weight: lighter;
  letter-spacing: -0.2vw;
  cursor: default;
  opacity: 0;
}
.sec4__footer {
    width: 68%;
    margin: 0 auto;
}

.sec4__footer p {
    font-family: 'Raleway Dots';
    text-transform: uppercase;
    font-size: 5.3vw;
    white-space: nowrap;
    text-align: center;
    background: #946BC6;
    color: #fff;
    border-radius: 100px;
}

#section6 {
    width: 100%;
    height: 300vw;
    background-color: #f1f1f1;
    display: inline-block;
}

.sec6__title {
    width: 99%;
    margin: 0 auto;
    margin-top: 10vw;
    margin-bottom: 10vw;
    border: 1px solid red;
    position: relative;
}
.sec6__title p:nth-child(1) {
    font-family: 'Kumar One';
    font-size: 4.8vw;
    color: #fff;
    display: inline-block;
    transform: scaleY(1.1);
    margin-left: 21vw;
    position: relative;
}
.sec6__p1:before {
    content: '';
    position: absolute;
    left: -4vw; top: -0.3vw;
    width: 23vw; height: 7.5vw;
    background: #2D6EC7;
    z-index: -1;
    border-radius: 100px;
    
}
.sec6__title p:nth-child(2) {
    font-family: 'Abel';
    font-size: 3vw;
    text-transform: uppercase;
    color: #E76D41;
    position: absolute;
    left: 40.2vw;
    top: -5vw;
}
.sec6__title p:nth-child(3) {
    font-family: 'Porter Sans Block';
    font-size: 9.5vw;
    margin-top: 4vw;
    transform: scaleX(1.1) scaleY(1.2);
    margin-left: 36vw;
    display: inline-block;
    
}
.sec6__title:before {
    content: '';
    position: absolute;
    left: 46vw; top: 3.5vw;
    width: 7vw; height: 6.5vw;
    background-image: url(../img/heart.png);
    background-size: cover;
}
.sec6__project {
    width: 95vw;
    height: 90vw;
    margin: 0 auto;
    border: 1px solid red;
}
.sec6__img {
    background-color: lightgrey;
    width: 95vw;
    height: calc(95vw / 1.6);
    margin: 0 auto;
    margin-top: 10vw;
    position: relative;
}
.sec6__img .title {
    font-family: 'Rajdhani';
    font-size: 5vw;
    color: #fff;
    background: #000;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.1em 0.5em;
    position: absolute;
    left: 15vw; top: -5vw;
}
.sec6__img .site {
    position: absolute; 
    right: 4vw; bottom: 4.5vw;
    font-size: 3.5vw;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
    font-family: 'Abel';
}
.sec6__img .site__circle {
    position: absolute;
    right: 1vw; bottom: 1vw;
    font-size: 5vw;
    border-radius: 50%;
    width: 12vw; height: 12vw;
    background: #000;
    z-index: 0;
}
.sec6__desc {
    display: flex;
    margin: 0 auto;
    margin-top: 1.5vw;
    justify-content: space-between;
    border: 1px solid yellow;
}
.sec6__desc .title {
    font-family: 'GmarketSans';
    position: relative;
    font-weight: bold;
    font-size: 2.2vw;
    margin-left: 13vw;
    margin-right: 9vw;
    padding-left: 2.5vw;
    white-space: nowrap;
}
.sec6__desc .title:before {
    position: absolute;
    left: 0; top: 0.3vw;
    content: '';
    width: 2vw; height: 2vw;
    border-radius: 50%;
    background: #000;
}
.sec6__desc .desc {
    font-family: 'GmarketSans';
    font-weight: lighter;
    font-size: 1.7vw;
    margin-right: 15vw;
}
.sec6__footer {
    width: 67%;
    margin: 0 auto;
    margin-top: 20vw;
}

.sec6__footer .whale {
    background-image: url(../img/whale.png);
    background-size: cover;
    width: 18vw; height: 18vw;
    margin: 0 auto;
    margin-bottom: 3vw;
}
.sec6__footer p {
    font-family: 'Raleway Dots';
    text-transform: uppercase;
    font-size: 5.4vw;
    white-space: nowrap;
    text-align: center;
    background: #4C5DAA;
    color: #fff;
    border-radius: 100px;
    padding: 0.1em;
}