#section1 {
  width: 100%;
  height: calc(100vw / 1.6);
  max-height: 100vh;
  background-image: url(../img/mainbg.jpg);
  background-size: cover;
  background-position: 0 0;
  position: relative;
  overflow: hidden;
}

.sec1__img1 {
  border: 0.4vw solid #000;
  position: absolute;
  left: 37.73vw;
  /* left: 38.1vw; */
  top: 10.47vw;
  /* top: 10.7vw; */
  width: 35.69vw;
  /* width: 33.7vw; */
  height: 31vw;
  /* height: 30.7vw; */
  background-image: url(../img/complete/louvres1.jpg);
  background-size: cover;
  background-position: center center;
}

.sec1__img2 {
  position: absolute;
  /* width: 20vw;
  height: 23.3vw;
  left: 84.72vw;
  top: 12.1vw; */
  left: 88.1vw;
  top: 11.8vw;
  width: 18vw;
  height: 22.7vw;
  background-size: cover;
  background-image: url(../img/complete/face1.jpg);
  border: 0.4vw solid #000;
  filter: saturate(10%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  transition: filter 0.5s ease;
}

.sec1__img2:hover {filter: saturate(100%);}

.sec1__textWrap {
  position: absolute;
  right: 1vw;
  bottom: 0.5vw;
  text-align: right;
}

.sec1__text1 {
  text-transform: uppercase;
  font-family: 'Kumbh Sans';
  font-weight: 100;
  font-size: 3vw;
}
.sec1__text2 {
  font-family: 'GmarketSans';
  font-weight: 100;
  font-size: 1.2vw;
}

.sec1__clock {
  position: absolute;
  top: 10vw;
  left: 18vw;
  height: 13vw;
  width: 13vw;
}

#clock-body {
  position: relative;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  border: 0.2vw solid #000;
}
#center, #seconds, #minutes, #hours {
  position: absolute;
  background-color: #000;
  backface-visibility: hidden;
  outline: 0.1vw solid transparent;
}
#center {
  z-index: 4;
  height: 3%;
  width: 3%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 0.2vw solid #000;
  transform: translate3d(-50%, -50% ,0);
}
#seconds {
  z-index: 1;
  left: 50%;
  margin-left: -0.3%;
  bottom: 50%;
  width: 0.6%;
  height: 49%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  transform-origin: bottom;
}
#minutes {
  z-index: 2;
  left: 50%;
  margin-left: -0.7%;
  bottom: 50%;
  width: 1.4%;
  height: 47%;
  border-top-right-radius: 40%;
  border-top-left-radius: 40%;
  transform-origin: bottom;
}
#hours {
  z-index: 3;
  left: 50%;
  margin-left: -0.7%;
  bottom: 50%;
  width: 1.4%;
  height: 36%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  transform-origin: bottom;
}
.post-wrap {
  width: 10vw;
  height: (1/1)*100vw; /* height:width ratio */
  max-height: 10vw;
  max-width: (1/1)*100vh; /* height:width ratio */
  margin: 0 auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  overflow: hidden;
  padding: 15px;
}