
@font-face {
    font-family: 'LABDigital';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
            url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
            url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
            url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
    font-display: swap;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'LABDigital';
    overflow: hidden;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #25398e;
    display: flex;
    font-size: 30px;
    color: #fff;
    align-items: center;
}

.header__logo {
    margin-right: auto;
    margin-left: 5px;
}

.header__about {
    margin-right: 5px;
}

.header__time {
    font-size: 25px;
    margin-right: 5px;
}

#main {
    margin-top: 100px;
    font-family: 'LABDigital';
    overflow: hidden;
}

.icons .icon {
    width: 100px; height: 110px;
    margin-bottom: 30px;
    position: relative;
    /* background: #fff; */
    text-align: center;
}

.icons .icon img {
    width: 100px;
    height: 70px;
    object-fit: contain;
    position: relative;
}

.icons .icon p {
    color: #fff;
    background: rgb(77, 146, 77);
    font-size: 20px;
    display: inline-block;
    text-align: center;
}
.icons .icon .icon_r {
    background: steelblue;
}

#main .icons .iconLine_first {
    position: relative;
} 

#main .icons .iconLine_second {
    position: absolute;
    top: 0;left: 0;
    margin-left: 140px;
}

/* iframe */
.musicBox {
    position: absolute;
    right: -500px;
    top: 100px;
    width: 380px;
    height: 588px;
    transition: all 0.4s;
}
.musicBox.show {
    right: 10px;
}

.cardGame {
    position: absolute;
    top: 1000px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 750px;
    transition: all 0.4s;
}
.cardGame.show {
    top: 80px;
}

.typingGame {
    position: absolute;
    top: 50px;
    left: -5000px;
    transform: translateX(-50%);
    width: 930px;
    height: 700px;
    transition: all 1s;
}
.typingGame.show {
    left: 50%;
    transform: translateX(-50%);
}


iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.memoryBox {
    position: absolute;
    left: 0; top: 0; bottom: 0; right: 0;
    margin: auto;
    border-radius: 20px;
    width: 600px; height: 600px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.17); 
    transform: scaleY(0);
    transition: all 0.5s;
}

.memoryBox.show {
    transform: scaleY(1);
}
.tetrisBox {
    position: absolute;
    left: 0; top: 0; bottom: 0; right: 0;
    margin: auto;
    border-radius: 20px;
    width: 680px; height: 600px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.17); 
    transform: scaleY(0);
    transition: all 0.5s;
}

.tetrisBox.show {
    transform: scaleY(1);
}

.react_confirm {
    position: absolute;
    left: 0; top: 0; bottom: 0; right: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    background: cornflowerblue;
    color: #fff;
    text-align: center;
    transition: all 1s .3s;
    opacity: 0;
    transform: scaleX(0);
}
.react_confirm.show {
    opacity: 1;
    transform: scaleX(1);
    transition: all .5s;
}

.react_confirm p {
    font-size: 1.5rem;
    margin-top: 1.5em;
}
.react_confirm .buttons button {
    text-align: center;
    display: inline-block;
}
.react_confirm button,
.react_confirm button a {
    font-family: 'LABDigital';
    border: 0;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.2rem;
    color: mintcream;
    background: midnightblue;
    padding: 0.4em 1.3em;
    margin: 1.5em 1em;
    text-decoration: none;
}
.react_confirm button:active {
    opacity: 0.6;
}
