@import url(reset.css);
@import url(title.css);
@import url(font.css);
@import url(bird.css);

#section2 {
  width: 100%;
  background-color: #f1f1f1;
  display: inline-block;
  text-align: center;
}

.sec2__text1 {
  margin-top: 20vw;
  position: relative;
}
.sec2__text1 p:nth-child(1) {
  font-family: 'Kumar One';
  color: #2D6EC7;
  font-size: 10.5vw;
  margin-left: 18.1vw;
  line-height: 1.3;
}
.sec2__text1 p:nth-child(2) {
  font-family: 'Abel';
  font-weight: lighter;
  color: #E76D41;
  font-size: 3vw;
  position: absolute;
  left: 49.7vw;
  top: -0.5vw;
  line-height: 1;
  transform: scaleY(1.2);
}
.sec2__text2 {
  margin-bottom: 5.4vw;
}
.sec2__text2 p {
  font-family: 'Porter Sans Block';
  font-size: 10.5vw;
}
.sec2__text3 {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 20vw;
}
.sec2__text3 .left {
  border-top: 0.13vw solid #E76D41;
  width: 40vw;
}
.sec2__text3 .right {
  display: inline-block;
  font-family: 'Poiret One';
  text-transform: uppercase;
  color: #fff;
  background: #F2B63F;
  padding: 1vw 3.5vw;
  font-size: 5.3vw;
  margin-left: 10vw;
  white-space: nowrap;
}
@media (min-width: 1200px) {
  #section2 {height: 100vh;}
  .sec2__text1 {margin-top: 230px;}
  .sec2__text1 p:nth-child(1) {font-size: 9rem; margin-left: 1.7em;}
  .sec2__text1 p:nth-child(2) {font-size: 2.4rem; left: 50%; top: -5%;}
  .sec2__text2 {margin-bottom: 46px;}
  .sec2__text2 p {font-size: 9.1rem;}
  .sec2__text3 {margin-bottom: 200px;}
  .sec2__text3 .right {font-size: 4.4rem; padding: 0.2em 0.7em; margin-left: 10vw}
}
#section4 {
  width: 100%;
  background: #f1f1f1;
  display: inline-block;
  z-index: 100;
}
.sec4__info {
    margin: 0 auto;
    margin-top: 10vw;
    font-size: 2.8vw;
    line-height: 1.3;
    font-weight: lighter;
    padding-left: 44vw;
    letter-spacing: -0.2vw;
    display: inline-block;
}
.sec4__info .white {
    color: #fff;
    background: #000;
}
.sec4__footer {
    width: 68%;
    margin: 0 auto;
    margin-top: 10vw;
    margin-bottom: 10em;
}
.sec4__footer p {
  font-family: 'Raleway Dots';
  text-transform: uppercase;
  font-size: 5.3vw;
  white-space: nowrap;
  text-align: center;
  background: #946BC6;
  color: #fff;
  border-radius: 100px;
}
@media (min-width:1200px) {
  .sec4__info {width: 1200px; margin-top: 5em; font-size: 2.2rem; padding-left: 50vw; letter-spacing: -0.01em;}
  .sec4__footer {width: 820px; margin-top: 150px;}
  .sec4__footer p {font-size: 4.6rem;}
}

#section6 {
  width: 100%;
  background: #f1f1f1;
  display: inline-block;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.sec6__text1 {
  margin-right: 33vw;
  position: relative;
}
.sec6__text1 h2 {
  font-family: 'Kumar One';
  font-size: 4.8vw;
  color: #fff;
  background: #3F6DC0;
  display: inline-block;
  padding: 2vw 3vw 1vw 3vw;
  border-radius: 100px;
  line-height: 1;
}
.sec6__text1 span {
  font-family: 'Abel';
  font-size: 3vw;
  text-transform: uppercase;
  color: #E76D41;
  position: absolute;
  left: 21vw;
  top: -2.5vw;
}
.sec6__text2 {
  margin-left: 23vw;
  margin-top: 1.3vw;
}
.sec6__text2 p {
  font-family: 'Porter Sans Block';
  font-size: 9.5vw;
}

@media (max-width: 1200px) {
  #section6 {height: 100vw;}
}

#section7 {
  /* width: 100%; */
  background: #f1f1f1;
  display: inline-block;
  overflow-x: hidden;
}
#project {
  display: flex;
  height: 100vh;
  left: 0;
  overflow: hidden;
}
.sec7__contents {
  /* border: 3px solid red; */
  width: 100%;
  height: 100vh;
  min-width: 100vw;
  position: relative;
}
.sec7__title {
  font-family: 'Rajdhani';
  font-size: 3.5vw;
  color: #fff;
  background: #000;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.1em 0.5em;
  z-index: 20;
  margin-top: 10vh;
  margin-left: 7vh;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
}
.sec7__img {
  margin: 0 auto;
  width: 85%;
  margin-right: 5%;
  height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -3.5vw;
  filter: grayscale(75%);
  transition: filter 0.5s ease;
}
#section7 .sec7__contents .sec7__img:hover {
  filter: grayscale(0);
}
.sec7__text {
  margin: 0 auto;
  margin-top: 3vh;
  width: 75%;
  display: flex;
  font-family: 'GmarketSans';
}
.sec7__text h4 {
  width: 30%;
  font-size: 1.5vw;
  position: relative;
  padding-left: 2vw;
}
.sec7__text h4::before {
  content: '';
  background: #000;
  width: 1.4vw; height: 1.4vw;
  border-radius: 50%;
  position: absolute;
  left: 0; top: 0.2vw;
}
.sec7__text p {
  width: 70%;
  margin-left: 5vw;
  font-weight: lighter;
  font-size: 1vw;
}
#section7 .sec7__contents:nth-child(1) .sec7__img {
  background-image: url(../img/pics.jpg);
}
#section7 .sec7__contents:nth-child(2) .sec7__img {
  background-image: url(https://images.unsplash.com/photo-1502945015378-0e284ca1a5be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
}







#section15 {
  width: 100%;
  height: 100vh;
  background-color: yellow;
}