@font-face {
    font-family: 'GimpoGothic';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'GimpoGothic';
    font-weight: 700;
    font-style: bold;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/gimpo/GimpoGothic-Bold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Suncheon';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonRegular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonRegular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonRegular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonRegular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonRegular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Suncheon';
    font-weight: 700;
    font-style: bold;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/suncheon/SuncheonBold.ttf') format("truetype");
    font-display: swap;
}
@font-face { 
    font-family: "apple";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoL.ttf) format("ttf");
  }
  @font-face {
    font-family: "apple";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoM.ttf) format("ttf");
  }
  @font-face {
    font-family: "apple";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoB.ttf) format("ttf");
  }
  @font-face {
    font-family: "apple";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoEB.ttf) format("ttf");
  }
  @font-face { 
    font-family: "apple";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoH.ttf) format("ttf");
  }
  @font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Bold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-ExtraBold.ttf') format("truetype");
    font-display: swap;
} 