  @font-face { 
    font-family: "apple";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoL.ttf) format("ttf");
  }
  @font-face {
    font-family: "apple";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoM.ttf) format("ttf");
  }
  @font-face {
    font-family: "apple";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoB.ttf) format("ttf");
  }
  @font-face {
    font-family: "apple";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoEB.ttf) format("ttf");
  }
  @font-face { 
    font-family: "apple";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url(../font/AppleSDGothicNeoH.ttf) format("ttf");
  }