/* sec1 */
.sec1_bg {
    background: url(../img/mountain.jpg);
    background-position: center center;
    background-size: cover;
    animation: hue-rotate 5s linear infinite;
    background-blend-mode: hard-light;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }
  
  @keyframes hue-rotate {
    from {
      filter: hue-rotate(0);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }

.sec1_text1 {
  font-size: 4.5rem;
  color: #fff;
  white-space: nowrap;
  font-weight: 700;
  text-align: center;
}
.sec1_text1 b {
  font-size: 7rem;
}
.sec1_text2 {
    font-size: 5.5rem;
    color: #fff;
    white-space: nowrap;
    font-weight: 800;
}
.sec1_text3 {
    font-size: 4vw;
    color: #fff;
    white-space: nowrap;
    font-weight: 800;
    text-align: center;
    line-height: 1.3;
}
.sec1_text4 {
    font-size: 4vw;
    color: #fff;
    white-space: nowrap;
    font-weight: 800;
    text-align: center;
    line-height: 1.3;
    z-index: 1000;
}
.sec1_text4 img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    object-fit: cover;
}